<!DOCTYPE html>
<html>
  <head>
    <title>Meme administation</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>Meme administration</h1>
    <p><%= message %></p>
    <a href="/clear" class="button">Clear</a>
    <a href="/pull" class="button">Pull</a>
    <a href="/list" class="button">List</a>
  </body>
</html>