<!DOCTYPE html>
<html>
<head>
    <title>Meme Manager</title>
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>

<ul class="nav nav-tabs">
    <li><a href="/">Home</a></li>
    <li><a href="/list">Local</a></li>
    <li class="active"><a href="/parse">Parse</a></li>
    <li><a href="/imgur">Imgur</a></li>
</ul>

<div class="container">
    <h1>Parse</h1>

    <p><%= message %></p>
    <a href="/parse/push" class="btn btn-primary btn-lg">Push</a>
</div>
</body>
</html>