body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.hide {
    display: none;
}

.item {
    padding: 10px;
}

.meme {
    max-width: 300px;
}

.meme:hover {
    opacity: .2;
}


.meme.flag {
    opacity: .2;
}

#memes {
    text-align: center;
}